


header{
    background-image:url("imagens/Blue White Minimalist Nature Group Project Presentation.jpg");
    background-size: cover;
    height: 600px;
}
h1#title-header{ 
    font-family: cursive;
    color: #2E6FB7;
}
header>*{
    color: #2E6FB7;
}
img#myimage{
    border-radius: 100%;
    height: 200px;
}
h1#presentation-title{
    color: #2E6FB7;
}
main{
    background-color: #ebf4f5;
    
}
#skills>h1{
    color: #2E6FB7;
}
div.skills>h1{
    color: #4e87c9;
    font-size: 1.5em;
}
div#contact-container>h1{
    color: #2E6FB7;
}
div#contact-container>h2{
    color: #4e87c9;
}
button.btn{
    background-color: #049ab8;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-right: 30px;
    padding-left:30px;

}
footer{
    height: 200px;
    padding-top:20px;
    padding-top: 30px;
    background-color: #66BFBF;
    color: #3e618a;
    
}
.link{
    text-decoration: none;
    color: #3e618a;
}
a:hover{
    color: white;
    font-weight: bold;
}
.copyright{
    color: white;
}